*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.Encabezado {
    background-image: url(../Assets/Imagenes\ Fondos/5.png); 
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 65%;
    background-attachment: fixed;
    
    text-align: center;
    height: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

/* Este div encierra el H1 y H5 que estan en el encabezado para separarlo del NAV y poder hacerle el BackGround */
.Encabezado div {
    background-color: rgba(0, 0, 0, 0.2);
    /* efecto difuminado */
    backdrop-filter: blur(0.5px);
    align-self: center;
    margin: auto;
    height: 30%;
    width: 100%;
    padding: 10px;
  }

.Encabezado h1{
    font-size: 55px;
    letter-spacing: 3px;
    font-family: cursive;
    padding: 0%;
    color: #FFDAB9;
    /* color: #CBB3A9; */
}

.Encabezado h5{
    font-size: 15px;
    letter-spacing: 0.5px;
    font-family: cursive;
    color: #DDD2C0;
    /* color: #CFC7C2; */
}

nav {
    position: fixed;
    width: 100%;
    padding: 10px;
    background-color: #aaa8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    z-index: 100;
   
}

nav a{
    
    font-family: cursive;
    font-size: 20px;
    /* color: #FFDAB9; */
    color: #DDD2C0;
    text-decoration: none;
    /* añade un efecto de  */
    transition: all 0.5s ease;
    border-bottom: 2px solid transparent
}

.Encabezado nav a:hover{ 
    /* color y barra cuando pasamos le mouse por arriba*/
    color: #FFDAB9;
    border-bottom: 2px solid #FFDAB9;
}