
/* conjunto de los productos  */
.Productos {
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    align-items: flex-start;
    background-color: #EDE3D0;
    background-image: repeating-linear-gradient(
    45deg,
    rgba(0,0,0,0.03) 0px,
    rgba(0,0,0,0.03) 1px,
        transparent 1px,
        transparent 20px
    );
}
  /* conjunto de las imagenes, nombre, descripcion y precio de los productos  */
.Productos article {
    box-shadow: 0 8px 20px rgba(0,0,0,0.05);
    border-radius: 10px; 
    width: 400px;
    height: 410px;
    /* background-color: blanchedalmond; */
    box-sizing: border-box;
    perspective: 1000px;
    transition: 1.5s;
    transform-style: preserve-3d;
    margin: 15px;
} 

.Productos article:hover{
    transform: rotateY(-180deg);
}

  /* imagen de los productos  */
.Productos article img {
    width: 100%;
    height: 320px;
    object-fit: contain;
}
  /* nombre de los productos */
.Productos article h3{ 
    padding-top: 10px;
    border-top: 2px solid #DDD2C0;
}

.Productos article p{
    text-align: end;
}

section article div{
    position: absolute;
    backface-visibility: hidden;
    display: block;
}

.backflip {
    position: relative;
    top: 25%;
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    margin-top: auto;
    transform: rotateY(180deg);
}
  
  